<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                  http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
       <proxy>
       <active>true</active>
       <protocol>http</protocol>
       <host>{{proxy.host}}</host>
       <port>{{proxy.port}}</port>
       <nonProxyHosts>{{teamcity.local_ip}}|{{nexus.host}}</nonProxyHosts>
       </proxy>
     </proxies>
  <profiles>
    <profile>
      <id>profile-1</id>
     <activation>
       <activeByDefault>true</activeByDefault>
     </activation>
      <repositories>
        <repository>
          <id>nexus</id>
          <url>https://{{nexus.host}}/content/groups/public</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>
