#!/bin/bash -e
SBT_OPTS="-Dsbt.log.noformat=true -Xms512M -Xmx4096M -Xss1M -XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=256M -XX:+UseParNewGC -XX:+CMSParallelRemarkEnabled -XX:+UseConcMarkSweepGC -Djava.library.path=/usr/local/lib -Dproxyset=true -Dhttp.proxyHost={{proxy.host}} -Dhttp.proxyPort={{proxy.port}} -Dhttps.proxyHost={{proxy.host}} -Dhttps.proxyPort={{proxy.port}} -Dhttps.nonProxyHosts={{nexus.host}} -Dhttp.nonProxyHosts={{nexus.host}} -Dcom.sun.net.ssl.checkRevocation=false -Djavax.net.ssl.trustStore=/home/teamcity/.m2/keystore.pks -Djavax.net.ssl.trustStorePassword={{keystore.pass}}"
java $SBT_OPTS -jar `dirname $0`/sbt-launch.jar "$@"
